.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba($color-black, 0.5), transparent);
  z-index: 10;
  transition: all 0.3s;
  visibility: visible;

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  &--modal {
    z-index: 50;
  }
}

// Buttons
.btn {
  color: $color-white;
  font-weight: 700;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  transition: all 0.3s;

  &--menu {
    @media only screen and (min-width: 500px) {
      display: none;
    }
  }

  &--teal {
    background-color: $color-teal;

    &:hover {
      background-color: $color-teal-dark;
    }
  }

  &--primary {
    font-size: 15px;
    // padding: 18px 44px;
    padding: 18.5px 40px;
  }

  &--pledge,
  &--modal {
    font-size: 13px;
    padding: 16px 32px;

    &:disabled {
      background-color: $color-gray;
      padding: 16px 38px;
      cursor: unset;
    }
  }
}

// Bookmark
.bookmark {
  &:hover {
    & * path {
      fill: $color-white;
    }
  }

  @media only screen and (min-width: 600px) {
    border-radius: 40px;
    background-color: $color-slider-bg;
    color: $color-gray;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    min-width: 172px;
    grid-gap: 16px;
  }

  &__icon {
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;

    & * circle,
    & * path {
      transition: all 0.3s;
    }
  }

  &__text {
    display: none;

    @media only screen and (min-width: 600px) {
      display: inline;
      font-size: 15px;
      // padding: 0px 26px 0 16px;

      transition: all 0.5s ease;
      position: relative;
      z-index: 0;

      &--active {
        color: $color-teal-dark;
        visibility: hidden;
        opacity: 0;
        padding-right: 8px;
        transition: all 0.35s ease;
      }
    }
  }

  &--active {
    & * circle {
      fill: $color-teal-dark;
    }
    & * path {
      fill: $color-white;
    }

    @media only screen and (min-width: 600px) {
      .bookmark__icon {
        transition: all 0.5s ease;
        transform: translateX(134px);
      }

      .bookmark__text {
        transform: translateX(-44px);
        color: $color-teal-dark;
      }

      .bookmark__text--active {
        padding-right: 26px;
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;
        transition-delay: 0.1s;
      }
    }
  }
}

// Pledges
.pledge {
  background-color: $color-white;
  border-radius: 8px;
  border: 1px solid $color-pledge-border;
  padding: 24px 22px;
  width: 100%;
  display: grid;
  grid-gap: 22px;

  @media only screen and (min-width: 700px) {
    padding: 36px 30px 30px;
  }

  &--unavailable {
    filter: opacity(0.45);
  }

  &__header {
    display: grid;
    grid-gap: 4px;

    @media only screen and (min-width: 600px) {
      grid-auto-flow: column;
      justify-content: space-between;
    }

    &--modal {
      display: grid;
      justify-content: start;
      grid-auto-flow: column;
      grid-gap: 16px;
      padding-top: 12px;
    }
  }

  &__footer {
    padding-top: 2px;
    display: grid;
    justify-content: start;
    grid-gap: 24px;

    @media only screen and (min-width: 600px) {
      grid-auto-flow: column;
      justify-content: space-between;
    }
  }

  &__modal-form {
    display: none;
  }
}
