////////////
// Header //
////////////
// Header & "Hero" Image
.header {
  position: relative;
  &__hero {
    position: relative;

    & img {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.45),
        transparent
      );
      width: 100%;
      height: 100%;

      @media only screen and (min-width: 800px) {
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.6),
          transparent
        );
      }
    }
  }
}

// Masthead & Navigation
.masthead {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
  z-index: 10;

  @media only screen and (min-width: 500px) {
    left: 50%;
    transform: translateX(-50%);
    max-width: 1172px;
    padding: 48px 32px;
  }
}

.navigation {
  &__list {
    position: absolute;
    top: 88px;
    background-color: $color-white;
    border-radius: 8px;
    color: $color-black;
    font-weight: 500;
    left: 24px;
    right: 24px;
    font-size: 18px;
    overflow: hidden;
    transition: all 0.35s ease-out;

    @media only screen and (min-width: 500px) {
      position: relative;
      top: unset;
      left: unset;
      right: unset;
      background-color: unset;
      border-radius: unset;
      color: $color-white;
      font-size: 13px;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      grid-gap: 34px;
      overflow: visible;
    }

    &-item {
      padding: 24px 24px 23px;
      transition: all 0.3s;

      @media only screen and (min-width: 500px) {
        padding: 0;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -6px;
          width: 100%;
          height: 2px;
          background-color: $color-white;
          opacity: 0;
          transition: all 0.3s ease;
        }

        &:hover::after {
          opacity: 1;
          transition: all 0.3s ease;
        }
      }

      &:hover {
        background-color: $color-teal-dark;
        color: $color-white;

        @media only screen and (min-width: 500px) {
          color: unset;
          background-color: unset;
        }
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $color-section-border;

        @media only screen and (min-width: 500px) {
          border-bottom: unset;
        }
      }
    }

    &--hidden {
      scale: 0.85;
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s ease-out;

      @media only screen and (min-width: 500px) {
        opacity: 1;
        scale: 1;
        visibility: visible;
        transition: unset;
      }
    }
  }
}

.disable-scroll {
  overflow-y: hidden;
}

////////////
//  Main  //
////////////

.main {
  padding: 0 24px 80px;
  margin-top: -60px;
  position: relative;
  display: grid;
  justify-content: center;
  grid-gap: 24px;

  @media only screen and (min-width: 1400px) {
    margin-top: -96px;
  }
}

.section {
  background-color: $color-white;
  border-radius: 8px;
  border: 1px solid $color-section-border;
  padding: 32px 24px 39px; // will need adjusting
  width: 100%;
  max-width: 730px; // tentative

  @media only screen and (min-width: 700px) {
    padding: 48px 48px;
  }
}

// Intro
.intro {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-gap: 24px;
  position: relative;

  @media only screen and (min-width: 700px) {
    grid-gap: 35px;
  }

  &__logo {
    position: absolute;
    top: -28px;
  }

  &__text {
    display: grid;
    grid-gap: 16px;
    padding-top: 20px;

    @media only screen and (min-width: 700px) {
      grid-gap: 12px;
      padding-top: 8px; // or 8 if section goes straight 48px
    }
  }

  &__btns {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: column;
    width: 100%;
    // margin-top: 4px;
  }
}

// Statistics
.statistics {
  text-align: center;
  display: grid;
  grid-gap: 28px;

  @media only screen and (min-width: 600px) {
    text-align: left;
    grid-gap: 32px;
  }

  &-group-wrapper {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-gap: 46px;

    @media only screen and (min-width: 600px) {
      justify-content: start;
      grid-auto-flow: column;
      grid-gap: 42px;
    }
  }

  &__group {
    display: grid;
    grid-gap: 5px;
    position: relative;

    @media only screen and (min-width: 600px) {
      grid-gap: 3px;

      &:not(:first-of-type) {
        padding-left: 48px;
      }

      &--central {
        padding-right: 50px;
      }
    }

    // dividing lines
    &:not(:first-of-type)::before {
      content: "";
      position: absolute;
      height: 1px;
      top: -26px;
      background-color: rgba($color-gray, 0.5);
      width: 63%;
      left: 50%;
      transform: translateX(-50%);

      @media only screen and (min-width: 600px) {
        height: 88%;
        width: 1px;
        top: 0;
        left: unset;
        transform: unset;
      }
    }
  }

  &__slider {
    width: 100%;
    background-color: $color-slider-bg;
    border-radius: 16px;
    height: 12px;

    &-inner {
      width: 79%;
      background-color: $color-teal;
      border-radius: 16px;
      height: 100%;
      max-width: 100%;
    }
  }
}

// About Project & Pledge Info
.about {
  display: grid;
  grid-gap: 34px;

  @media only screen and (min-width: 700px) {
    grid-gap: 40px;
  }

  &__text {
    padding-top: 7px;
    display: grid;
    grid-gap: 26px;

    @media only screen and (min-width: 700px) {
      padding-top: 0;
      grid-gap: 34px;
    }
  }

  &__pledges {
    display: grid;
    grid-gap: 22px;

    @media only screen and (min-width: 700px) {
      grid-gap: 24px;
    }
  }
}

/////////////////
// Containers //
///////////////

.container {
  display: grid;

  &--pledge-footer-text {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    grid-gap: 9px;
  }

  &--modal-pledges {
    display: grid;
    grid-gap: 22px;
  }

  &--modal-header-text {
    display: grid;
    grid-gap: 4px;
  }

  &--modal-form-inputs {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    grid-gap: 16px;

    @media only screen and (max-width: 374px) {
      grid-auto-flow: row;
    }
  }

  &--number {
    border-radius: 40px;
    border: 1px solid $color-pledge-border;
    padding: 13px 24px;
    // padding: 16px 33px;
    // display: grid;
    // grid-auto-flow: column;
  }
}
