////////////
// Header //
////////////

// Header & "Hero" Image
.header {
  position: relative;
  &__hero {
    position: relative;

    & img {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        transparent 50%,
        transparent
      );
      width: 100%;
      height: 100%;
    }
  }
}

// Masthead & Navigation
.masthead {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  z-index: 10;

  @media only screen and (min-width: 500px) {
    left: 50%;
    transform: translateX(-50%);
    max-width: 73.25rem;
    padding: 3rem 2rem;
  }
}

.navigation {
  &__list {
    position: absolute;
    top: 5.5rem;
    background-color: $color-white;
    border-radius: 0.5rem;
    color: $color-black;
    font-weight: 500;
    left: 1.5rem;
    right: 1.5rem;
    font-size: 1.125rem;
    overflow: hidden;
    transition: all 0.35s ease-out;

    @media only screen and (min-width: 500px) {
      position: relative;
      top: unset;
      left: unset;
      right: unset;
      background-color: unset;
      border-radius: unset;
      color: $color-white;
      font-size: 0.8125rem;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      grid-gap: 2.125rem;
      overflow: visible;
    }

    &-item {
      padding: 1.5rem 1.5rem 1.4375rem;
      transition: all 0.3s;

      @media only screen and (min-width: 500px) {
        padding: 0;
        position: relative;
      }

      &:hover {
        background-color: $color-teal-dark;
        color: $color-white;

        @media only screen and (min-width: 500px) {
          color: unset;
          background-color: unset;
        }
      }

      &:not(:last-of-type) {
        border-bottom: 0.0625rem solid $color-section-border;

        @media only screen and (min-width: 500px) {
          border-bottom: unset;
        }
      }
    }

    &--hidden {
      scale: 0.85;
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s ease-out;

      @media only screen and (min-width: 500px) {
        opacity: 1;
        scale: 1;
        visibility: visible;
        transition: unset;
      }
    }
  }
}

.disable-scroll {
  overflow-y: hidden;
}

////////////
//  Main  //
////////////

.main {
  padding: 0 1.5rem 5rem;
  margin-top: -3.75rem;
  position: relative;
  display: grid;
  justify-content: center;
  grid-gap: 1.5rem;

  @media only screen and (min-width: 1400px) {
    margin-top: -6rem;
  }
}

.section {
  background-color: $color-white;
  border-radius: 0.5rem;
  border: 0.0625rem solid $color-section-border;
  padding: 2rem 1.4375rem 2.4375rem;
  width: 100%;
  max-width: 45.625rem;

  @media only screen and (min-width: 700px) {
    padding: 3rem;
  }
}

// Intro
.intro {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-gap: 1.5rem;
  position: relative;

  @media only screen and (min-width: 700px) {
    grid-gap: 2.1875rem;
  }

  &__logo {
    position: absolute;
    top: -1.75rem;
  }

  &__text {
    display: grid;
    grid-gap: 1rem;
    padding-top: 1.25rem;

    @media only screen and (min-width: 700px) {
      grid-gap: 0.75rem;
      padding-top: 0.5rem;
    }
  }

  &__btns {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    width: 100%;
    grid-template-columns: 1fr auto;
    grid-gap: 0.25rem;
  }
}

// Statistics
.statistics {
  text-align: center;
  display: grid;
  grid-gap: 1.75rem;

  @media only screen and (min-width: 600px) {
    text-align: left;
    grid-gap: 2rem;
  }

  &-groups-wrapper {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-gap: 2.875rem;

    @media only screen and (min-width: 600px) {
      justify-content: start;
      grid-auto-flow: column;
      grid-gap: 2.625rem;
    }
  }

  &__group {
    display: grid;
    grid-gap: 0.3125rem;
    position: relative;

    @media only screen and (min-width: 600px) {
      grid-gap: 0.1875rem;

      &:not(:first-of-type) {
        padding-left: 3rem;
      }

      &--central {
        padding-right: 3.125rem;
      }
    }

    // dividing lines
    &:not(:first-of-type)::before {
      content: "";
      position: absolute;
      height: 0.0625rem;
      top: -1.625rem;
      background-color: rgba($color-gray, 0.5);
      width: 63%;
      left: 50%;
      transform: translateX(-50%);

      @media only screen and (min-width: 600px) {
        height: 88%;
        width: 0.0625rem;
        top: 0;
        left: unset;
        transform: unset;
      }
    }
  }

  &__slider {
    width: 100%;
    background-color: $color-slider-bg;
    border-radius: 1rem;
    height: 0.75rem;

    &-inner {
      width: 79%;
      background-color: $color-teal;
      border-radius: 1rem;
      height: 100%;
      max-width: 100%;
    }
  }
}

// About Project & Pledge Info
.about {
  display: grid;
  grid-gap: 2.125rem;

  @media only screen and (min-width: 700px) {
    grid-gap: 2.5rem;
  }

  &__text {
    padding-top: 0.4375rem;
    display: grid;
    grid-gap: 1.625rem;

    @media only screen and (min-width: 700px) {
      padding-top: 0;
      grid-gap: 2.125rem;
    }
  }

  &__rewards {
    display: grid;
    grid-gap: 1.5rem;
  }
}

// Attribution
.attribution {
  width: 100%;
  text-align: center;
  padding: 0 1rem 1rem;
  font-size: 0.875rem;
  color: $color-gray;

  & a {
    color: $color-teal;
    transition: color 0.3s ease;
    font-weight: 700;

    &:hover {
      color: $color-teal-dark;
    }
  }
}
