.modal {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 87.5%;
  display: grid;
  grid-gap: 22px; // 24 for text, this is temp
  z-index: 100;

  @media only screen and (min-width: 700px) {
    top: 184px;
  }

  &--hidden {
    display: none;
  }

  &__header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}
