.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 100;

  &--hidden {
    display: none;
  }
}

.modal {
  background-color: $color-white;
  border-radius: 8px;
  border: 1px solid $color-section-border;
  padding: 32px 23px 39px;
  width: 87.5%;
  max-width: 730px;
  margin: 120px auto;
  display: grid;
  grid-gap: 24px;
  position: relative;
  z-index: 100;

  @media only screen and (min-width: 700px) {
    padding: 48px 48px;
  }

  &__header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }

  &__pledge-selection {
    display: grid;
    grid-gap: 22px;
  }

  &--hidden {
    display: none;
  }

  /////////////////////////////
  // Success Modal
  &--success {
    position: fixed;
    justify-items: center;
    text-align: center;
    max-width: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: unset;

    @media only screen and (min-width: 700px) {
      & img {
        width: 88px;
        height: auto;
        margin-bottom: 24px;
      }
    }
  }
}

.modal-open {
  overflow: hidden;
}

.hidden {
  display: none;
}
