.heading {
  color: $color-black;
  font-weight: 700;
  line-height: 1.2;
  transition: all 0.3s;

  &--primary {
    font-size: 20px;
    padding: 0 16px;

    @media only screen and (min-width: 700px) {
      font-size: 28px;
    }
  }

  &--secondary,
  &--modal {
    font-size: 18px;
  }

  &--secondary {
    @media only screen and (min-width: 700px) {
      font-size: 20px;
    }
  }

  &--modal {
    @media only screen and (min-width: 700px) {
      font-size: 24px;
    }
  }

  // Pledge Titles
  &--tertiary {
    font-size: 14px;

    @media only screen and (min-width: 700px) {
      font-size: 18px;
    }
  }
}

.paragraph {
  font-size: 14px;
  line-height: 1.7;

  @media only screen and (min-width: 700px) {
    font-size: 15px;

    &--primary,
    &--about,
    &--modal {
      font-size: 16px;
    }

    &--about {
      line-height: 1.85;
    }
  }

  &--pledge-requirement {
    color: $color-teal;
    font-weight: 500;
    @media only screen and (min-width: 700px) {
      line-height: unset;
      font-size: 17px;
    }
  }

  &--requirement {
    color: $color-teal;
  }
}

.number {
  color: $color-black;
  font-weight: 700;
  font-size: 32px;

  &--modal {
    font-size: 18px;
  }

  &--input {
    font-size: 14px;
    border: none;
    width: 48px;
    // border-radius: 40px;
    // border: 1px solid #dbdbdb;
    // padding: 16px 33px;
  }

  &--label {
    color: $color-gray;
    font-size: 14px;
  }
}
