.heading {
  color: $color-black;
  font-weight: 700;
  line-height: 1.2;
  transition: color 0.3s;

  &--primary {
    font-size: 1.25rem;
    padding: 0 1rem;

    @media only screen and (min-width: 700px) {
      font-size: 1.75rem;
    }
  }

  &--secondary,
  &--modal {
    font-size: 1.125rem;
  }

  &--secondary {
    @media only screen and (min-width: 700px) {
      font-size: 1.25rem;
    }
  }

  &--modal {
    @media only screen and (min-width: 700px) {
      font-size: 1.5rem;
    }
  }

  &--tertiary {
    font-size: 0.875rem;

    @media only screen and (min-width: 700px) {
      font-size: 1.125rem;
    }
  }

  &--pledge {
    font-size: 0.875rem;

    @media only screen and (min-width: 700px) {
      font-size: 1rem;
    }
  }
}

.paragraph {
  font-size: 0.875rem;
  line-height: 1.7;

  @media only screen and (min-width: 700px) {
    font-size: 0.9375rem;

    &--primary,
    &--about {
      font-size: 1rem;
    }

    &--about,
    &--modal {
      line-height: 1.85;
    }
  }

  &--pledge-requirement {
    color: $color-teal;
    font-weight: 500;
    @media only screen and (min-width: 700px) {
      line-height: unset;
      font-size: 1rem;
    }
  }

  &--requirement {
    color: $color-teal;
  }
}

.number {
  color: $color-black;
  font-weight: 700;
  font-size: 2rem;

  &--modal {
    font-size: 1.125rem;
  }
}
